<div class="biu-nav-email"
     style="max-width: 600px;min-width: 300px;margin: 40px auto;box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);font-size: 16px;padding: 20px;background-image: linear-gradient(120deg, #FF626E 0%, #FFBE71 100%);border-radius: 5px;color: #fff;">
    <h3 style="margin-bottom: 40px;">
        <%= locals.teamName %>队伍：
    </h3>
    <p style="padding-left: 20px;">
      感谢你对计算机技术协会与国信安的支持！你的网站已部署成功
    </p>
    <p style="text-align: center;">
      <a href="<%= locals.url %>">请点击查看您的网站</a>
    </p>
    <p style="margin-top: 40px;text-align: right;">
        <%= locals.sign %>
    </p>
    <p style="text-align: right;">
        <%= locals.date %>
    </p>
</div>