<div class="biu-nav-email"
    style="max-width: 600px;min-width: 300px;margin: 40px auto;box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);font-size: 16px;padding: 20px;background-image: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%);;border-radius: 5px;color: #fff;">
    <h3 style="margin-bottom: 40px;">
        Hi! 亲爱的<%= locals.username %>同学：
    </h3>
    <p style="padding-left: 20px;">
      感谢你对计算机技术协会的关注！我们已经收到你的申请表并会认真评估你的干事申请表。通过初步评估后，我们会及时发送消息以及发送邮箱通知你进行后续的操作。
    </p>
    <p style="margin-top: 40px;text-align: right;">
        <%= locals.sign %>
    </p>
    <p style="text-align: right;">
        <%= locals.date %>
    </p>
</div>